body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 1366px;
    height: 768px;
    background: #F3F5FC;
}


.container-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.container-logo img {
    position: relative;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#input-text {
    position: relative;
    width: 606px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
.alert p {
    position: relative;
    width: 350px;
    height: 18px;
    left: 240px;
    top: 595px;
}

.buttons-c-d {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: relative;
    width: 606px;
    height: 67px;
    left: 240px;
    top: 628px;
    transform: rotate(0.06deg);
}

#criptografar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 311px;
    height: 67px;  
    background: #0A3871;
    border-radius: 24px;
    transform: rotate(0.06deg);    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#criptografar p {
    width: 280px;
    height: 19px;    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(0.06deg);
    flex: none;
    order: 0;
    flex-grow: 1;
}

#descriptografar {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 311px;
    height: 67px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    transform: rotate(0.06deg);

    flex: none;
    order: 1;
    flex-grow: 0;
}

#descriptografar p {
    width: 280px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    transform: rotate(0.06deg);
    flex: none;
    order: 0;
    flex-grow: 1;
}



.section-output {
    position: relative;
    width: 400px;
    height: 700px;
    left: 926px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.boneco {
    position: relative;
    width: 336px;
    height: 232px;
    margin: 171px 32px 0 32px;
}

.boneco img {
    width: 336px;
    height: 232px;
}

.boneco-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: relative;
    width: 336px;
    height: 122px;
    margin: 507px 32px 0 32px;

}

.boneco-base h2 {
    width: 336px;
    height: 58px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.boneco-base p {
    width: 336px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 1366px;
    height: 60px;
    top: 750px;
    padding-top: 10px;
    background: lightblue;
}

.contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 456px;
    height: 60px;
}
.contatos i {
    padding-top: 5px;
}