/* Limpando algumas configurações de estilo inicial de todos os elementos */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
/* Aplicando a fonte Montserrat do google fonts e uma cor de fundo em todo o body*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #F3F5FC;
}

/********************************** HEADER **********************************/

/* Estilizando a tag header onde ficará o logotipo da Alura*/
/*header {
    padding: 1.3rem 0 0 1.3rem;
}*/
/* Estilizando o container onde está o logotipo da Alura*/
.caixa {
    text-align: left;
    display: flex;
    align-items: center;
    animation-duration: 3s;
    animation-name: slip;
    /*width: 2rem;
    height: 3rem;*/
}
/* Estilizando o logotipo da Alura*/
.logo-alura {
    margin-left: 1rem;
    font-size: 4rem;
    color: black;
}

.title-logo {
    color: #0A3871;
    font-size: 2rem;
}

/********************************** MAIN **********************************/

/* Estilizando a tag main onde estão as duas seções (input e output) */
/*.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33rem;
    position: relative;
    padding: 1rem 0 1rem 0;
}*/
                        /*-------- section input --------*/

/* Estilizando a primeira section (input), onde estão localizados os elementos textarea, ícone, aviso e botões
 "Criptografar" e "Descriptografar" */
.section-input {
    text-align: center;
    
   /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 8%; */
}

                        /*-------- textarea --------*/

/* Estilizando o container onde está a textarea */
/*.textarea {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin: 2rem 0 0 0;
} */
/* Estilizando a textarea */
.input-texto {
    color: #0A3871;
    width: 330px;
    height: 328px;
    margin-top: 5rem;
    resize: none;
    font-size: 2rem;
    font-weight: 600;
    font-style: bold;
    line-height: 100%;
    background: none;
    border: none;
/*    position: relative;   */
}
/* Estilizando o texto do placeholder da textarea */
.input-texto::-webkit-input-placeholder {
    color: #0A3871;
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
}
/* Removendo a borda e efeito sombreado da textarea a clicar com o mouse */
.input-texto:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

                        /*-------- Ícone, aviso e botões "Criptografar" e "Descriptografar" --------*/

/* Estilizando o container onde estão a div com o ícone e aviso e a div com os botões  */
/*.container-alert-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 30%;
}*/

                        /*-------- Ícone e aviso --------*/

/* Estilizando o container onde estão o ícone e o aviso */
.container-information {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #495057;

    gap: 0.3rem;
    font-weight: 400;
    opacity: 0.8;
/*  flex-direction: row; 
    width: 100%;
    height: auto;
    position: relative;   */

}

                        /*-------- Botões "Criptografar" e "Descriptografar" --------*/

/* Estilizando o container onde estão os botões */
.container-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

/*  width: 100%;
    height: 50%;
    position: relative;
*/
}
/* Estilizando os botões "Criptografar" e "Descriptografar" */
.encrypt, .decrypt {
    margin: 0.5rem;
    height: 4rem;
    width: 20rem;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    background: linear-gradient(to top, #D8DFE8 50%, #0A3871 50%);
    background-position: top bottom;
    transition: all 300ms ease-out;
    background-size: 200% 200%;
    color: #ffffff;
}
/* Estilizando os botões "Criptografar" e "Descriptografar" ao passar o mouse sobre eles */
.encrypt:hover, .decrypt:hover {
    background-position: left bottom;
    color: #0A3871;
}

                        /*-------- section output --------*/

/* Estilizando a segunda section (output), onde estão localizadas as divs da imagem do boneco e o texto logo abaixo
que em seguida será afetada pelo JavaScript e aparecerá a mensagem de saída e um botão de copiar */
/*
.section-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 50%;
    height: 113%;
    margin: 0 3% 3% 3%;
    padding-bottom: 20%;
    border-radius: 1rem;
    background: #ffffff;
}*/

                        /*-------- Imagem do boneco e mensagem de saída --------*/

/* Estilizando o container onde estão a div com o boneco a div com a mensagem de saída  */
.section-output-in {
    margin: 2rem;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    color: #343A40;
    
/*    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 25%; */
}

                        /*-------- Imagem do boneco --------*/

/* Estilizando o container da imagem do output */
.boneco {
    display: none;
/*    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%; */
}
/* Estilizando a imagem do output */
/*
.boneco img {
    width: 100%;
    height: 100%;
    background: #ffffff;
}*/

                        /*-------- Mensagem de saída --------*/

/* Estilizando o título da mensagem de saída <h2> */
.output-titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
/*    
    margin-top: 1.5rem;
    font-style: normal;
    font-size: 1.6rem;
    */
}
/* Estilizando o texto da mensagem de saída <p> */
/*
.output-texto {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #495057;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}*/

/********************************** FOOTER **********************************/

/* Estilizando o container footer onde estão o nome do dev e os links de contato*/
.footer {
    display: flex;
    justify-content: center;
    padding: 4rem;

/*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #D8DFE8; 
    width: 100%;
    height: 100;
    padding-top: 0.5rem;
*/
}

.container-dev {
    display: flex;
    align-items: center;
}
/* Estilizando os créditos ao dev*/
.footer-dev {
    font-style: normal;
    color: black;
    font-size: 16px;
    font-weight: 500;
    /*
    margin-bottom: 10px;*/
}
/* Estilizando o nome do dev*/
.footer-dev-name {
    color: navy;
    font-weight: 600;
}

/* Estilizando o container com os ícones e links de contato*/
.contacts {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
/* Estilizando a tag <a> dos links de contato*/
.footer a { 
    text-decoration: none;
    color: #0A3871;
    margin: 0 0.5rem;
    /*
    margin-left: 0.5rem;
    */
}
/* Estilizando os ícones dos links de contato*/
.text-icons {
    font-style: normal;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}


@keyframes slip {
    from {
        margin-left: -20%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*Responsividade para tablets*/
@media (min-width: 482px) and (max-width: 767px) {

    .section-input {
      text-align: left;
    }
  
    .input-texto {
      width: 440px;
      height: 400px;
      margin-left: 1rem;
    }
  }
  
  /*Responsividade para telas pequenas, laptops*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .section-input {
      text-align: left;
    }
  
    .input-texto {
      width: 700px;
      height: 400px;
      margin-left: 1rem;
    }
  }
  
  /*Responsividade para telas grandes */
  @media (min-width: 1025px) {
  
    .boneco {
      display: inline;
      text-align: center;
    }
  
    .output-image {
      width: 14rem;
    }
  
    .section-output-in {
      height: 100%;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .section-input {
      text-align: left;
    }
  
    .input-texto {
      width: 700px;
      height: 400px;
      margin-left: 4rem;
    }
  
    .container-main {
      display: flex;
    }
  
    .container-information {
      margin-left: 4rem;
    }
  
    .encrypt, .decrypt {
      margin: 1rem;
      height: 3rem;
      width: 16rem;
      border-radius: 1rem;
      font-weight: 100px;
    }
  }